body{
    margin: unset;
    padding: unset;
    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
}
h1{
    color: #4690d8;
    margin-left: 30px;
}
h2{
    color: #4690d8;
    margin: 5px;
}
a{
    color: #4690d8;
    text-decoration: none;
}
.linkovi{
    font-size: 90%;
}
.container{
    background-color: #f4f4f4;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
}
.main-title{
    background-color: white;
    margin-bottom: 20px;
    flex-basis: 100%;
    border-bottom-style: solid;
    border-bottom-color: #6ca7de;
    order: 1;

}
.wraper{
    order: 2;
    flex-basis: 65%;
}
.main-left{
    background-color: white;
    border-style: outset;
    border-width: thin;
    margin-bottom: 20px;
    margin-left: 20px;
    //flex-basis: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    //order: 2;
}
.ml-left{
    margin: 20px 20px 0px 20px;
    flex: 1;
}
.ml-right{
    margin: 20px 20px 0px 20px;
    flex: 2;
}
.mlr-top{
    display: flex;
    justify-content:space-between;
}
.name{
    flex: 4;
}
.details{
    flex: 1;
    text-align: right;
    padding-top: 10px;
}
.mlrb-box1{
    background-color: #f4f4f4;
    //padding: 5px auto 5px auto;
}
.about-me{
    margin: 0px 20px 20px 20px;
}
.main-right{
    //margin-bottom: 20px;
    margin-right: 20px;
    flex-basis: 30%;
    /*display: flex;
    flex-wrap: wrap;
    justify-content:space-between;*/
    order: 3;
}
.edit-page{
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: #d3d3d3;
    margin-bottom: 10px;
    padding-left: 20px;
}
.box1{
    background-color: white;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 10px;
    border-top-style: solid;
    border-top-color: #6ca7de;
    //flex: 1;
}
.box1-top{
    background-color: #f4f4f4;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: thin;
    border-color: #d3d3d3;
    border-top-color: #6ca7de;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.box1-edit{
    text-align: right;
    padding-top: 8px;
}
.zuta{
    background-color: #fdffc3;
    padding: 5px;
    margin-bottom: 0;
    font-size: larger;
}
.dugme{
    background-color: #dddddd;
    color: #a4a4a4;;
    border-color: #a4a4a4;
    border-style: solid;
    border-radius: 5px ;
}
.box1-bottom{
    background-color: white;
    padding-left: 20px;
    padding-right: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #d3d3d3;
}
.main-bottom{
   // margin-top: -80px;
    //align-self: flex-start;
    //background-color: white;
    margin-left: 20px;
    //flex: 1;
    //flex-basis: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:stretch;
    //order: 4;
}
.box5{
    //background-color: white;
    //margin-top: 0;
    //padding-top: 0;
    //margin-bottom: 10px;
    border-top-style: solid;
    border-top-color: #6ca7de;
    flex-basis: 48%;
}
.box5-top{
    background-color: #f4f4f4;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: thin;
    border-color: #d3d3d3;
    border-top-color: #6ca7de;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.box5-edit{
    text-align: right;
    padding-top: 8px;
}
.box5-bottom{
    background-color: white;
    padding-left: 20px;
    padding-right: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #d3d3d3;
    display: flex;
    flex-wrap: wrap;
    //justify-content:space-between;
    align-items: stretch;
}
.linija{
    flex-basis: 100%;
    margin: unset;
    padding: unset;
}
.slika{
    align-self: stretch;
    margin: 10px 0px 0px 0px;
}
.tekst{
    background-color: #f4f4f4;
    font-size: 70%;
    margin: 10px auto 10px 0px;
    padding-left: 10px;
    flex: 1;
}
.tekst1{
    font-size: 80%;
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    //flex: 1;
}
